<a href="https://colab.research.google.com/github/SanskrutiPanda/18CSE103/blob/main/DMDW_ASSIGNMENT_1_18CSE103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a python code for finding mean, median
and mode**

In [ ]:
from collections import Counter 
n_num = [1, 2, 3, 4, 5] 
def mean(n_num):
  n = len(n_num) 

  get_sum = sum(n_num) 
  mean = get_sum / n 

  print("Mean / Average is: " + str(mean)) 
def Median(n_num):
  n_num = [1, 2, 3, 4, 5] 
  n = len(n_num) 
  n_num.sort() 

  if n % 2 == 0: 
    median1 = n_num[n//2] 
    median2 = n_num[n//2 - 1] 
    median = (median1 + median2)/2
  else: 
    median = n_num[n//2] 
  print("Median is: " + str(median)) 

def mode(n_num):
  n = len(n_num) 

  data = Counter(n_num) 
  get_mode = dict(data) 
  mode = [k for k, v in get_mode.items() if v == max(list(data.values()))] 

  if len(mode) == n: 
    get_mode = "No mode found"
  else: 
    get_mode = "Mode is / are: " + ', '.join(map(str, mode)) 
    
  print(get_mode) 
mean(n_num)
Median(n_num)
n_num = [1, 2, 3, 4, 5, 5] 
mode(n_num)

Mean / Average is: 3.0
Median is: 3
Mode is / are: 5

**Write a python code for calculating variance and
standard deviation for the set of elements**

In [ ]:
def variance(data):
     
     n = len(data)
     
     mean = sum(data) / n
     
     deviations = [(x - mean) ** 2 for x in data]
    
     variance = sum(deviations) / n
     print("variance: ",variance) 



def Stdv(test_list):
  print("The original list : " + str(test_list)) 
  mean = sum(test_list) / len(test_list) 
  variance = sum([((x - mean) ** 2) for x in test_list]) / len(test_list) 
  res = variance ** 0.5
  print("Standard deviation of sample is : " + str(res)) 
test_list = [4, 5, 8, 9, 10] 
variance(test_list)
Stdv(test_list)

variance:  5.36
The original list : [4, 5, 8, 9, 10]
Standard deviation of sample is : 2.3151673805580453

**Practice some basic python programs.**

In [ ]:
# Python program to check if year is a leap year or not
year = 2000
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))
# Program to check Armstrong numbers in a certain interval

lower = 100
upper = 2000
for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print("Armstrong number:",num)

2000 is a leap year
Armstrong number: 153
Armstrong number: 370
Armstrong number: 371
Armstrong number: 407
Armstrong number: 1634